@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.backdrop-blur-sm {
  backdrop-filter: blur(8px);
}

.bg-black\/80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-black\/50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black\/30 {
  background-color: rgba(0, 0, 0, 0.3);
}
